<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (gameStarted)="onStartButtonPress($event)"></app-game-control>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <app-odd
        [number]="oddNumber"
        *ngFor="let oddNumber of oddNumbers">
      </app-odd>
    </div>

    <div class="col-xs-6">
      <app-even
        [number]="evenNumber"
        *ngFor="let evenNumber of evenNumbers">
      </app-even>
    </div>
  </div>
</div>

